<template>
    <layout-div>
       <div class="row justify-content-md-center">
         <div class="col-12">
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 <div class="container-fluid">
                     <a class="navbar-brand" href="#">Dashboard</a>
                     <div class="d-flex">
                         <ul class="navbar-nav">
                             <li class="nav-item">
                                 <a @click="logoutAction()" class="nav-link " aria-current="page" href="#">Logout</a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </nav>
         </div>
          <div class="container">
            <div class="row">
                    <div class="col-md-4">
                        <div class="card-header">
                            Add Record
                        </div>
                        <div class="card-body">
                            <form @submit.prevent="save">
                            
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" v-model="posts.title" class="form-control"  placeholder="Title">
                            
                            </div>
                            <div class="form-group">
                                <label>Content</label>
                                <input type="text" v-model="posts.content" class="form-control"  placeholder="Content">
                            
                            </div>
                            <div class="form-group">
                                <label>Author</label>
                                <input type="text" v-model="posts.author" class="form-control"  placeholder="Author">
                            
                            </div>
                            
                            <div class="form-group">
                                <label>Status</label>
                                <input type="text" v-model="posts.status" class="form-control"  placeholder="status">
                            
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2>posts List</h2>
                            <table class="table table-dark">
                            <thead>
                                <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Content</th>
                                <th scope="col">Author</th>
                                <th scope="col">status</th>
                                <th scope="col">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="posts in result" v-bind:key="posts.id">
                                    
                                    <td>{{ posts.title }}</td>
                                    <td>{{ posts.content }}</td>
                                    <td>{{ posts.author }}</td>
                                    <td>{{ posts.status }}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" @click="edit(posts)">Edit</button>
                                        <button type="button" class="btn btn-danger"  @click="remove(posts)">Delete</button>
                                    </td>
                                    </tr>
                                
                            </tbody>
                            </table>
                    </div>
            </div>
          </div>  
       </div>
    </layout-div>
 </template>
   
 <script>
 import axios from 'axios';
 import LayoutDiv from '../LayoutDiv.vue';
   
 export default {
    name: 'posts',
    data () {
      return {
        result: {},
        posts:{
                   id: '',
                   title: '',
                   content: '',
                   author: '',
                   status: ''
  
  
        }
      }
    },
    created() { 
        this.postsLoad();
    },
    mounted() {
          console.log("mounted() called.......");
    },
   methods: {
    postsLoad()
           {
                 var page = "http://127.0.0.1:8000/api/posts";
                 axios.get(page)
                  .then(
                      ({data})=>{
                        console.log(data.data);
                        this.result = data.data;
                      }
                  );
           },
            
           save()
           {
            if(this.posts.id == '')
              {
                this.saveData();
              }
              else
              {
                this.updateData();
              }       
  
           },
           saveData()
           {
            axios.post("http://127.0.0.1:8000/api/posts", this.posts)
            .then(
              ({data})=>{
                alert("saved");
                this.postsLoad();
                this.posts.name = '';
                this.posts.address = '',
                this.posts.phone = ''
                this.id = ''
              }
            )
  
           },
           edit(posts)
           {
            this.posts = posts;
           },
           updateData()
           {
              var editrecords = 'http://127.0.0.1:8000/api/posts/'+ this.posts.id;
              axios.put(editrecords, this.posts)
              .then(
                ({data})=>{
                  this.posts.name = '';
                  this.posts.address = '',
                  this.posts.phone = ''
                  this.id = ''
                  alert("Updated!!!");
                  this.postsLoad();
                }
              );
  
           },
  
           remove(posts){
              var url = `http://127.0.0.1:8000/api/posts/${posts.id}`;
              // var url = 'http://127.0.0.1:8000/api/posts/'+ posts.id;
              axios.delete(url);
              alert("Deleted");
              this.postsLoad();
            },
     
  
     logoutAction () {
       axios.post('http://localhost:8000/api/logout',{}, { headers:{Authorization: 'Bearer ' + localStorage.getItem('token')}})
       .then((r) => {
           localStorage.setItem('token', "")
           this.$router.push('/')
           return r
       })
       .catch((e) => {
         return e
       });
     }
  
   },
 };
 </script>